$darkslateblue: hsl(217, 50%, 32%);
$dodgerblue: hsl(214, 81%, 50%);
$limegreen: hsl(109, 62%, 44%);
$crimson: hsl(0, 65%, 50%);
$whitesmoke: hsl(220, 27%, 96%);
$white: hsl(0, 0%, 100%);
$black: hsl(216, 8%, 11%);
