@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

//font-family
$roboto: 'Roboto', sans-serif;

//font-weights
$roboto-light: 300;
$roboto-normal: 400;
$roboto-medium: 500;
$roboto-bold: 700;

//font-size
$font-size-base: 1.17vmax;
$font-size-xs: 0.73vmax;
$font-size-sm: 0.88vmax;
$font-size-md: 1.02vmax;
$font-size-lg: 1.46vmax;
$font-size-xl: 1.75vmax;
$font-size-xxl: 2.2vmax;
